{% block content %}
    <h2>Veterinarske usluge</h2>
    <ul>
        {% for service in object_list %}
            <li>
                Ljubimac: {{ service.name }}<br>
                Datum usluge: {{ service.service_date }}<br>
                Vrsta usluge: {{ service.service_type }}<br>
                Opis: {{ service.description }}<br>
                Cijena usluge: {{ service.cost }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% for obj in objects %}
    <p>{{ obj.service_data }}</p> 
{% endfor %}

<form method="get">
    <input type="text" name="filter_param" placeholder="Filter..." value="{{ request.GET.filter_param }}">
    <button type="submit">Pretraži</button>
</form>
